.botResponse {
  width: 98%;
  margin: 1%;
  display: flex;
  align-items: center;
  border-color: black;
}

.botMessage {
  margin: 0.5% 1%;
  padding: 1%;
  border-width: 5px 1.5px 1.5px;
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
}

.p {
  margin: 0.5rem 0;
}

.userQuestion {
  width: 98%;
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row-reverse;
  border-color: black;
}

.chatMessage {
  margin: 0.5% 1%;
  padding: 1%;
  border-width: 1.5px;
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
}

.typingContainer {
  height: 20%;
  width: 80%;
  position: absolute;
  margin-left: 0.4%;
  margin-bottom: 0.4%;
  padding-left: 0.5%;
  bottom: 0;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

.typingRow {
  display: flex;
  justify-content: left;
  align-items: center;
}

.dotsContainer {
  position: relative;
  padding-left: 1.5rem;
  width: 30%;
}

.dotsTyping {
  position: relative;
  left: -9999px;
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 0.3125rem;
  color: green;
  box-shadow: 9984px 0 0 0 #77A465, 9999px 0 0 0 #77A465, 10014px 0 0 0 #77A465;
  animation: dotTyping 1.5s infinite linear;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9984px 0 0 0 #77A465, 9999px 0 0 0 #77A465, 10014px 0 0 0 #77A465;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #77A465, 9999px 0 0 0 #77A465, 10014px 0 0 0 #77A465;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #77A465, 9999px 0 0 0 #77A465, 10014px 0 0 0 #77A465;
  }
  50% {
    box-shadow: 9984px 0 0 0 #77A465, 9999px -10px 0 0 #77A465, 10014px 0 0 0 #77A465;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #77A465, 9999px 0 0 0 #77A465, 10014px 0 0 0 #77A465;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #77A465, 9999px 0 0 0 #77A465, 10014px -10px 0 0 #77A465;
  }
  100% {
    box-shadow: 9984px 0 0 0 #77A465, 9999px 0 0 0 #77A465, 10014px 0 0 0 #77A465;
  }
}

.options {
  display: flex;
  justify-content: flex-end;
}

.button {
  width: 16%;
  padding-right: 0%;
  border: none;
  box-shadow: none;
  cursor: pointer;
  background-color: white;
}


.clipboardIcon {
  height: 100%;
  width: 100%;
  color: black;
  margin-right: 3%;
}

.clipboardIcon:hover {
  color: #77A465 !important;
}

.dislikeIcon {
  height: 100%;
  width: 100%;
  color: black;
  margin-right: 3%;
}

.dislikeIcon:hover {
  color: red !important;
}

.likeIcon {
  height: 100%;
  width: 100%;
  color: black;
}

.likeIcon:hover {
  color: #77A465 !important;
}