.scrollFeed{
  margin:0;
  padding:0;
}

.botResponse {
  width: 98%;
  margin: 0 1% 1%;
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
}

.botMessage {
  padding: 0.5em;
  border-width: 5px 1.5px 1.5px;
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
  min-width: 50%;
  max-width: 75%;
}

.p {
  margin: 0.1em 0;
  font-size: 1rem;
}

.userQuestion {
  width: 98%;
  margin: 0 1% 1%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row-reverse;
  border-color: black;
}

.chatMessage {
  margin: 0;
  padding: 0.25em 1em;
  border-width: 1.5px;
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
  max-width: 70%;
}

.typingContainer {
  height: 5em;
  width: 80%;
  position: absolute;
  margin-left: 0.4%;
  margin-bottom: 0.8%;
  padding-left: 0.5%;
  bottom: 0;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

.typingContainerSmall {
  height: 2em;
  width: 80%;
  position: absolute;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
  padding-left: 0.5%;
  bottom: 0;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

.typingRow {
  display: flex;
  justify-content: left;
  align-items: center;
}

.dotsContainer {
  position: relative;
  padding-left: 1.5rem;
  width: 30%;
}

.dotsTyping {
  position: relative;
  left: -9999px;
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 0.3125rem;
  color: green;
  box-shadow: 9984px 0 0 0 #77a465, 9999px 0 0 0 #77a465, 10014px 0 0 0 #77a465;
  animation: dotTyping 1.5s infinite linear;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9984px 0 0 0 #77a465, 9999px 0 0 0 #77a465,
      10014px 0 0 0 #77a465;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #77a465, 9999px 0 0 0 #77a465,
      10014px 0 0 0 #77a465;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #77a465, 9999px 0 0 0 #77a465,
      10014px 0 0 0 #77a465;
  }
  50% {
    box-shadow: 9984px 0 0 0 #77a465, 9999px -10px 0 0 #77a465,
      10014px 0 0 0 #77a465;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #77a465, 9999px 0 0 0 #77a465,
      10014px 0 0 0 #77a465;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #77a465, 9999px 0 0 0 #77a465,
      10014px -10px 0 0 #77a465;
  }
  100% {
    box-shadow: 9984px 0 0 0 #77a465, 9999px 0 0 0 #77a465,
      10014px 0 0 0 #77a465;
  }
}

.link {
  cursor: pointer;
  text-decoration-line: underline;
  color: #77a465;
  border: none;
  box-shadow: none;
  cursor: pointer;
  background-color: white;
}

.tipsMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  text-align: center;
  margin-bottom: 5%;
}

.exampleImagesMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  text-align: center;
}

.exampleQuestions {
  margin: 1% 2%;
  width: -webkit-fill-available;
}

.doCircle {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  text-align: center;
  background: #4d8934;
}

.dontCircle {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  text-align: center;
  background: #7b282e;
}

.tips {
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2%;
}

.doBox {
  margin: 1%;
  padding: 2%;
  height: 20.5rem;
  width: 20rem;
  border-style: solid;
  border-width: 3px;
  border-color: #4d8934;
  background-color: #d9e3b6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.dontBox {
  margin: 1%;
  padding: 2%;
  height: 20.5rem;
  width: 20rem;
  border-style: solid;
  border-width: 3px;
  border-color: #7b282e;
  background-color: #ebaeb2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.li {
  margin-bottom: 5%;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}

.messageOptions{
  display: flex;
  justify-content: flex-end;
}

.responseOptions {
  display: flex;
  justify-content: flex-start;
  margin-top: 1%;
}

.messageButton {
  padding-right: 10%;
  border: none;
  box-shadow: none;
  cursor: pointer;
  background-color: white;
}

.button {
  border: none;
  box-shadow: none;
  cursor: pointer;
  background-color: white;
}

.botIcon {
  height: 3em;
  width: 3em;
  color: #77a465;
  margin-right: 1%;
}

.userIcon {
  height: 3em;
  width: 3em;
  color: #77a465;
  margin-left: 1%;
}

.typingBotIcon {
  height: 2em;
  width: 2em;
  color: #77a465;
}

.copyIcon,
.dislikeIcon,
.likeIcon {
  height: 2em;
  width: 2em;
  color: black;
  margin-right: 10%;
}

.copyIcon:hover,
.copyIconClicked {
  color: #77a465;
}
.dislikeIconClicked,
.dislikeIcon:hover {
  color: orangered;
}
.dislikeIconClicked,
.likeIconClicked {
  cursor: default;
}
.disabled {
  color: lightgray;
}

.likeIconClicked,
.likeIcon:hover {
  color: #77a465;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedbackBox {
  margin: 1rem;
  border: none;
}

.input {
  font-size: 15px;
  font-family: "Open Sans", cursive;
}

.submit {
  width: 17em;
  padding: 0.5%;
  background-color: #77a465;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 15px;
  color: white;
  font-family: "Open Sans", cursive;
}

.sourcesContainer {
  padding-top: 0.5em;
  margin: 0;
}

.sourcesOptionsContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1%;
}

.plusMinus {
  height: 1.5em;
  width: 1.5em;
  color: #77a465;
  cursor: pointer;
}