.container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 43vh 43vh;
}

.contentContainer {
  margin: 5%;
  border-radius: 15px;
  background-image: linear-gradient(360deg, #9dd9d2, #fff8f0 );
  box-shadow: 5px 5px 4px rgba(83, 18, 83, 0.4);
  border: 1px solid rgba(83, 18, 83, 1);
  font-size: 8;
}
.scheduleContentContainer {
  width: 100%;
}

.scheduleContainer {
  width: 90vw;
  height: auto;
  margin-left: 5vw;
  border-radius: 15px;
  background-image: linear-gradient(180deg, #9dd9d2, #fff8f0);
}
.contentTitle {
  text-align: center;
}

.partName {
  margin-left: 2vw;
}
.section {
  width: 90vw;
  margin-left: 5vw;
  margin-bottom: 5vh;
  padding-left: 5vw;
  height: auto;
  padding: 20px;
  border-radius: 15px;
  background: #9dd9d2;
  box-shadow: 5px 5px 4px rgba(83, 18, 83, 0.4);
}

.compenentContainer {
  width: 100%;
  display: inline-block;
  border: 1px solid rgba(83, 18, 83, 1);
}

.subHeading{
  margin-top:3vh;
}

.orderNum {
  width: 5%;
  float: left;
  font-weight: 600;
  text-align: center;
  vertical-align: top;
}
.textHolder {
  width: 85%;
  float: left;
  vertical-align: top;
}
.linkButton {
  width: 10%;
  height: 100%;
  float: left;
}

.linksPopup {
  background-color: #9dd9d2;
  border: 1px solid rgba(83, 18, 83, 1);
  padding: 5vh;
  border-radius: 15px;
  box-shadow: 5px 5px 4px rgba(83, 18, 83, 0.4);
}

.popupTitle {
  margin: 0;
  padding: 0;
}

.linkedText {
  font-weight: 600;
}

.selected{
  border: 1.5px solid rgba(83, 18, 83, 1);
}