.pageContainer{
    width:100%;
    text-align: center;
}

.searchContainer{
    padding:1%;
    width:75%;
    height:25vh;
    margin-left:12.5%;
    background-color: #94c1b9;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.searchResults{
    width:100%;
}

.resultsTable{
    width:90%;
    margin-left:5%;
}

.docSelector{
    width:90%;
    margin-left:5%;
}

.versionContainer{
    width: 100%;
}
.versionSelector{
    width:45%;
    margin:2.5%;
}

.leftSelector{
    float:left;
}

.rightSelector{
    float:right
}