.dashboardContainer {
  display: grid;
  background-color: #e7f4e4;
}
.sectionContainer {
  margin: 3%;
  padding-left: 3%;
  padding-right: 5%;
  border-radius: 5px;
  background: white;
  color: black;
  border-top: 10px solid #4d8934;
  box-shadow: 0 0 3px rgba(0.25, 0.25, 0.25, 0.25);
}

.sectionHeader {
  margin: 0;
  text-align: center;
}

.itemContainer {
  cursor: pointer;
  color: #4d8934;
}

.itemContainer:hover {
  color: black;
}
.seperator {
  border-bottom: 1px solid #34494e;
  width: 85%;
  margin-bottom: 1%;
}
