.fullContainer{
    width:100%;
    height: 100%;
    text-align: left;
}

/* definitions word title */
.definitionsTitle {
    text-align: left;
    margin-left: 2vw;
  }
  
/* definition name */
.wordToDefine {
    margin-left: 2vw;
  }

/* container with entire text body */
.definitionBody {
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, #9dd9d2, #fff8f0 );
    box-shadow: 5px 5px 4px rgba(83, 18, 83, 0.4);
    border: 1px solid rgba(83, 18, 83, 1);
  }

  /* the box within with the definition */
.definitionContainer {
    width: 100%;
    display: inline-block;
    border: 1px solid rgba(83, 18, 83, 1);
  }


/* the actual text */
.definitionHolder {
    width: 95%;
    float: left;
    vertical-align: top;
    margin-left: 2vw;
  }