.donwloadContentContainer{
  margin-left: 30%;
  margin-top: -1.5%;
}

.downloadIcon{
  width: 4%;
  height: 1%;
  color: rgb(171, 173, 168);
  cursor: pointer;
}

.downloadIconGrenn:hover{
  color: #4e8934;
}