.dropdown{
    border: 1px solid grey;
    text-align: center;
    background-color: #f4d06f;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.option{
    border: 1px solid #531253;
    background-color: #f4d06f;
}
.chosen{
    background-color: #ff8811;
}
.option:hover {
    background-color: #ddd;
    cursor: pointer;
  }