.dropdown{
    text-align: center;
    background: #36494E;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position:relative;
}

.options,.versionOptions{
    position: absolute;
    border: 1px solid #6e9f5b;
    overflow-y: scroll;
    max-height: 300px;
}

.versionOptions{
    left: -180%;
}

.option{
    background-color: #36494E;
    color:white;
    border-bottom: 1px solid #6e9f5b;
}
.chosen{
    background-color: #6e9f5b;
}
.option:hover {
    background-color: #ddd;
    cursor: pointer;
  }