/*Form elements*/
.feedbackLabel{
  cursor: pointer;
  text-decoration: underline;
}

.contactForm {
  width: 280px;
  right: 0;
  bottom: 0;
  height: 417px;
  background: white;
  z-index: 99;
  padding-top: 10px;
  position: fixed;
  border: 2px solid #4d8934;
  border-radius: 5px;
  overflow: hidden;
  animation: startSlide 0.5s forwards;
  box-shadow: 0px 0px 6px 2px #4d8934;
}

.formElement {
  display: block;
  position: absolute;
  margin: 0 auto !important;
  top: 50%;
  left: 50%;
  padding-top: 60px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.formElement:focus::-webkit-input-placeholder {
  color: #e7ab00;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

.formElement:focus {
  outline: none;
}

.contactForm h3 {
  font-size: 28px;
  text-align: center;
}

.BtnContainer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.openBtn {
  color: white;
  font-size: 8px;
  font-weight:bold;
  margin:0;
}

.closeBtn {
  display: block;
  z-index: 100;
  color: #e7ab00;
  font-size: 40px;
  text-align: center;
  margin-top: 8px;
  padding-right: 5px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
}

.openBtn {
  display: block;
  z-index: 100;
  color: #e7ab00;
  font-size: 40px;
  text-align: center;
  margin-top: 8px;
  padding-right: 5px;
  margin: 0 auto;
}

.minimiseBtn {
  width: 100px;
  right: 0;
  bottom: 0;
  height: 50px;
  background: #4d8934;
  z-index: 99;
  position: fixed;
  border: 2px solid #4d8934;
  border-radius: 5px;
  overflow: hidden;
  animation: slide 2s forwards;
  box-shadow: 0px 0px 6px 2px #4d8934;
  border-top-left-radius: 50px;
  color:white;
  font-size: 12;
  font-weight: bold;
  padding-top: 10px;
  padding-left:10px;
}

.closedContactForm {
  display: none;
}

.feedback,
.fullName {
  width: 250px;
  height: 30px;
  margin-top: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  padding: 5px;
  border: 2px solid #c4d38d;
}

.feedback {
  height: 200px;
  word-break: break-all;
}

.feedback:hover,
.fullName:hover {
  border: 2px solid #e7ab00;
}

.feedback:focus,
.fullName:focus {
  border: 3px solid #4d8934;
  outline: none;
}

.submitBtn {
  margin-top: 17px;
  padding: 10px 25px;
  border: none;
  background: #f0f0f5;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

.submitBtn:hover {
  background: #e7ab00;
}

@keyframes startSlide {
  from {
    right: -700px;
  }
  to {
    right: 7px;
  }
}
