@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', cursive;
  background-color: #E7F4E4;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

table {
  width: 70vw;
  margin-left: 15vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
}
th {
  text-align: center;
  background-color: #60935d;
  color: white;
  border: 1px solid #60935d;
}
td {
  border-bottom: 1px solid #60935d;
  text-align: center;
}
tr {
  background-color: #E7F4E4;
  text-align: center;
  
}

tr:hover {
  background-color: #ddd;
}

button{
  background-color: #E7F4E4;
  box-shadow: 0 0 3px rgba(0.25, 0.25, 0.25, 0.25);
  border-radius: 5px;
}

.plain_text {
  margin: 0;
  padding: 0;
}
.indented_1 {
  margin: 0;
  padding-left: 5vw;
}

.indented_2 {
  padding-left: 10vw;
  margin: 0;
}
.indented_3 {
  padding-left: 15vw;
  margin: 0;
}

.indented_4 {
  padding-left: 20vw;
  margin: 0;
}
.indented_5 {
  padding-left: 25vw;
  margin: 0;
}

.indented_6 {
  padding-left: 30vw;
  margin: 0;
}
.indented_7 {
  padding-left: 35vw;
  margin: 0;
}

.indented_8 {
  padding-left: 40vw;
  margin: 0;
}
.indented_9 {
  padding-left: 45vw;
  margin: 0;
}

.columns_2{
  grid-template-columns: 50% 50%
}
.columns_3{
  grid-template-columns: 33% 33% 33%;
}
.columns_4{
  grid-template-columns: 25% 25% 25% 25%;
}
.columns_5{
  grid-template-columns: 20% 20% 20% 20% 20%;
}

h1{
  font-size: 40px;
}
h2{
  font-size: 34px;
}
h3{
  font-size: 26px;
}
h4{
  font-size: 22px;
}
h5{
  font-size: 20px;
}
h6{
  font-size: 18px;
}

p,div{
  font-size:16px;
}
.small_button{
  background-color: #60935d;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 0.5%;
  width:5%;
}

.medium_button{
  background-color: #60935d;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 0.5%;
  width:10%
}

.large_button{
  background-color: #60935d;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 0.5%;
  width:15%;
}

.pointer{
  cursor: pointer;
}