@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", cursive;
  background-color: #F1F1F1;
}

a {
  color: inherit;
}

main {
  height: 100%;
  overflow: auto;
  top: 8vh;
  width: 100%;
  margin: 0 auto;
  background-color: #F1F1F1;
}

* {
  box-sizing: border-box;
}

.box{
  background-color: white;
  margin:0 2%;
  box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.25);
}

.white{
  background-color: #F1F1F1;
  opacity: 100%;
}

.green{
  background-color: #4e8934;
  color:white;
  opacity: 75%;
}


table {
  width: 70vw;
  margin-left: 15vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
}

th {
  text-align: center;
  background-color: #4d8934;
  color: white;
  border: 1px solid #4d8934;
}

td {
  border-bottom: 1px solid #4d8934;
  text-align: center;
  padding: 0 0.4em;
}

tr {
  background-color: #e7f4e4;
  text-align: center;
}

tr:hover {
  background-color: #ddd;
}

button {
  background-color: #e7f4e4;
  box-shadow: 0 0 3px rgba(0.25, 0.25, 0.25, 0.25);
  border-radius: 5px;
}

.plain_text {
  margin: 0;
  padding: 0;
  line-height: 24px;
}
.indented_1 {
  margin: 0;
  padding-left: 2vw;
}

.indented_2 {
  padding-left: 4vw;
  margin: 0;
}
.indented_3 {
  padding-left: 6vw;
  margin: 0;
}

.indented_4 {
  padding-left: 8vw;
  margin: 0;
}
.indented_5 {
  padding-left: 10vw;
  margin: 0;
}

.indented_6 {
  padding-left: 12vw;
  margin: 0;
}
.indented_7 {
  padding-left: 14vw;
  margin: 0;
}

.indented_8 {
  padding-left: 16vw;
  margin: 0;
}
.indented_9 {
  padding-left: 18vw;
  margin: 0;
}

.columns_2 {
  grid-template-columns: 50% 50%;
}
.columns_3 {
  grid-template-columns: 33% 33% 33%;
}
.columns_4 {
  grid-template-columns: 25% 25% 25% 25%;
}
.columns_5 {
  grid-template-columns: 20% 20% 20% 20% 20%;
}

h1 {
  font-size: 26px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 20px;
}
h6 {
  margin:0;
  font-size: 18px;
}

p,
div {
  font-size: 16px;
}
.small_button {
  background-color: #4d8934;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 0.5%;
  width: 5%;
}

.medium_button {
  background-color: #4d8934;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 0.5%;
  width: 10%;
}

.large_button {
  background-color: #4d8934;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 0.5%;
  width: 15%;
}
.pointer {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  background-color: #e7f4e4;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4d8934;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #70ada3;
}

.spinner-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e7f4e4;
  z-index: 9999;
}
.spinner {
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid #4d8934;
  width: 200px;
  height: 200px;
  -webkit-animation: spin 1.5s infinite linear;
  -moz-animation: spin 1.5s infinite linear;
  -o-animation: spin 1.5s infinite linear;
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
