.header {
  background-image: linear-gradient(90deg, #c4d38d 0%, #4d8934 53.65%);
  height: 8vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.headerText {
  font-family: "Roboto";
  font-weight: bold;
  cursor: pointer;
}

.logo {
  width: 9%;
  cursor: pointer;
}

.secondHeader {
  min-height: 6vh;
  height: 7vh;
  width: 100%;
}

.navLinks {
  float: right;
  height: 100%;
  margin-right: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLink,
.secondHeaderLink {
  height: 100%;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLink {
  font-weight: bold;
  font-size: 20px;
}
.dataSpecDropDown {
  font-weight: bold;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25) inset;
  
  /* padding: 3px; 
  margin-left: 20px;
  
  /*border-radius: 5px*/
  font-size: 16px;
  font-weight: bold;
  padding: 5% 0%;
  cursor: pointer;
}

.tabHeader {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  z-index: 100;
  top: 0;
}

.tabItem {
  background-color: #e7f4e4;
  width: 100%;
  text-align: center;
  font-size: x-large;
  cursor: pointer;
  border-bottom: 1px solid #4d8934;
}

.chosenTab {
  background-color: #4d8934;
  color: white;
}

.buttonHeader {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 33px;
  background-color: white;
  padding: 25px;
  z-index: 100;
}

.buttonItem {
  width: 20%;
  background-color: #e7f4e4;
  color: black;
  cursor: pointer;
  padding: 0.3%;
}

.chosenButton {
  background-color: #4d8934;
  color: white;
}
.homeButton {
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: white;
}
