.linkedText {
  font-weight: 600;
  border-bottom: 1px dotted #4d8934;
}

.tooltip {
  position: fixed;
  margin-top: 0%;
  margin-left: 3%;
  display: inline-block;
  padding: 0.5%;
  border: 2px solid #4d8934;
  border-radius: 10px;
  background-color: white;
}

.tooltip .tooltiptext {
  text-align: center;
  border-radius: 6px;
  padding: 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -10%;
}

.tooltiptext::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent #4d8934 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
