.container {
  width:100%;
}
.dashboardSelector{
  width:50%;
  margin-left:25%;
  justify-content: space-between;
  display:flex;
}

.dashButtonTitle{
  margin:2%;
}
.selectedDashboard{
  background-color: #60935d;
  color:white;
}

.errorBox {
  padding: 20px;
  background-color: #e7ab00;
  color: white;
  margin: 25px;
  text-align: center;
}