.newsBannerContainer {
  background-color: #e7ab00;
  color: #ffffff;
  width: 100%;
   height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleHolder{
  font-weight: bold;
}