.container {
  width: 100%;
  height:85vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-size: 1rem;
  margin:1% 0 0 0;
  padding:0;

}

.mainContentContainer {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: space-evenly;
  margin:0;
  padding:0;
}

.conversationContainer {
  width: 100%;
  height:100%;
  margin:0;
  padding:0;

}

@media (max-width: 650px) {
  .conversationContainer {
    margin-top: 12%;
  }
}

.disclaimerContainer {
  width:90%;
  text-align: center;
  font-size: 12px;
  text-align: center;
  margin: 0.1% auto 0 auto;
  border:1px solid black;
}

.documentsDisclaimer {
  font-size: 12px;
}

.documentsLink {
  cursor: pointer;
  text-decoration-line: underline;
}

.chatBox {
  display:flex;
  flex-direction: column-reverse;
  width: 98%;
  overflow-y: auto;
  height: 90%;
  background-color: white;
  position: relative;
  margin: 0 auto 0 auto;
  padding:0;
}

@media (max-width: 800px) {
  .chatBox {
    min-height: 60vh;
  }
}

.questionBox {
  width: 90%;
  margin-left: 5%;
  margin-top: 1%;
}

.sendMessage {
  padding:0;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: grey;
  height: 3%;
}

.input {
  width: 95%;
  height: 100%;
  background-color: white;
  font-size: 20px;
  display:flex;
  align-items: center;
  padding:0 0 0 1%;
  margin:0;
}


/* .paragraph {
  margin: 5%;
  text-align: center;
  border:1px solid blue;
} */

.button {
  height: 2em;
  width: 2em;
  padding: 0%;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.sendIcon {
  height: 100%;
  width: 100%;
  color: black;
  cursor: pointer;
}

.sendIconDisabled {
  height: 100%;
  width: 100%;
  color: lightgray;
  cursor: default;
}

.tooLong{
  color:red;
}
