.container {
  width: 98vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 1rem;
}

.mainContentContainer {
  height: 90%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: space-evenly;
}

.conversationContainer {
  width: 100%;
  height:85vh;
  margin:0;
  padding: 0;
}

.chatBox {
  width: 95%;
  background-color: white;
  position: relative;
  height:65vh;
}

.questionBox {
  width: 90%;
  margin-left: 4%;
  margin-top: 1%;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.sendMessage {
  margin-top: 2%;
  padding-right: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: grey;
  /* border:1px solid red; */


}

.input {
  width: 95%;
  padding: 0.5em 1em;
  border: none;
  font-size: 15px;
  font-family: "Open Sans", cursive;
  /* border:1px solid red; */
}

.title {
  text-align: center;
}

.paragraph {
  margin: 5%;
  text-align: center;
}

.button {
  width: 3em;
  height: 3em;
  margin:0;
  padding: 0%;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.sendIcon {
  width:100%;
  height:100%;
  color: black;
  cursor: pointer;
  margin:0;
  padding:0
}

.sendIconDisabled {
  color: lightgray;
  cursor: default;
  margin:0;
  padding:0
}
