.questionHistory {
  height: fit-content;
  max-height: 90%;
  width: auto;
  min-width: 15%;
  max-width: 20%;
  margin: 0 1% 0 1%;
  padding: 0.5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  overflow-y: auto;
}

@media (max-width: 700px) {
  .questionHistory, .openButton {
    display: none;
  }
}

.questionHistoryContainer {
  width: 100%;
  max-height: 50rem;
}

.questionContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
  border-bottom: solid;
  border-color: lightgrey;
  border-bottom-width: 1px;  
}

.messageIcon {
  width: 10%;
  height:2em;
  color: #77a465;
  float:left;
}

.questionHistoryItem {
  max-width: 90%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding-left: 3%;
  padding-top: 1%;
  text-align: left;
  float:left;
}

.openButton{
  margin:0;
  padding:0;
  color:black;
  margin-top:3%;
  height:75%;
  background-color: white;
  border-radius: 0 5px 5px 0;
  border-left: 0;
  border-width: 1px;
  cursor:pointer;
}
.openArrow{
  margin:0;
  padding:0;
  height:6em;
  width:2em;
}
.openArrow:hover{
  color:forestgreen;
}
.closeContainer{ 
  width:100%; 
  margin: 0;
}
.closeSquare{
  width:1.5em;
  height:1.5em;
  float:right;
  cursor: pointer;
}
.closeSquare:hover{
  color:orangered;
}
