.infinitescrollContainer{
    overflow-x: hidden;
}

.infinitescrollMainContainer{
    width: 100%;
    display:table;
    height:85vh;
    width:80vw;
    margin:0 1vw 0 20vw;
    overflow-x: hidden; 
}

.mainContentContainer {
    height:83vh;
    width:80vw;
    margin:0 1vw 0 20vw;
}

.headers{
    text-align: center;
}

.sideNavContainer {
    height:82vh;
    margin-top: -2vw;
    width:20vw;
    position:fixed;
    overflow-y: auto;
    overflow-x: hidden;
}

.tablesContainer{
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -10vw;
    margin-top: 2%;
    margin-bottom: 2%;
}

.contentContainer{
    height:100%;
    width:97%;
    margin-top: 2%;
    margin-bottom: 7.5%;
}