/* tooltip container */
.tooltip_con{
position: relative; 
display: inline-block; 
background-color: #ddd;
padding: 5px;
border-radius: 5px;
cursor: pointer;
}

/* text */
.tooltip {
    visibility: hidden;
    z-index: 1;
    width: 300px;
    padding: 0px 15px;
    background: #ddd; 
    text-align: center;
    color: black; 
    font-weight: 600;
    
    border-radius: 5px;
    position: absolute;
}


/* tooltip speech bubble shape */
.tooltip::after{
    content: " "; 
    position: absolute;
    bottom: 100%; 
    left: 50%; 
    border-style: solid;
    border-width: 5px;
    margin-left: -5px;
    border-color: transparent transparent transparent #ddd;

}

/* text visible on hover */
.tooltip_con:hover .tooltip {
    visibility: visible;
}
